name: JPipe - CMake Workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Debug

jobs:
  build:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        compiler: [ gcc, clang ]

    steps:
    - uses: actions/checkout@v4
      
    - name: Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y clang gcc lcov gcovr

    - name: Configure CMake
      run: cmake -B build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DENABLE_ASAN=ON -DENABLE_COVERAGE=ON -DCMAKE_C_COMPILER=${{ matrix.compiler }}

    - name: Build
      run: cmake --build build

    - name: Test
      working-directory: build
      run: ctest --output-on-failure

    - name: Coverage
      run: |
        cmake --build build --target coverage
        
    - name: Reporting
      if: matrix.compiler == 'gcc'
      uses: coverallsapp/github-action@v2
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        format: lcov
        file: build/coverage_filtered.info
